<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="index">
        <div id="root">
            {% include menu.html %}
            <div id="header">
                <div class="ui container">
                    <div class="jumbo">
                        <h1 class="header">{{ page.heading }}</h1>
                        <p class="sub-heading"></p>
                    </div>
                </div>
            </div>
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
