<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="index">
        <div id="root">
            <div id="header" class="ui inverted basic blue segment">
            	<div class="ui large inverted secondary menu">
            		<div class="ui container">
            			{% include menu.html %}
            		</div>
                </div>
            </div>
            <div id ="description" class="ui very padded inverted basic blue segment">
				<div class="ui grid container">
			        <div class="ten wide large column">
			        	<h1 class="ui inverted header container">{{ page.name }}<div class="sub header">{{ content }}</h1>
			        </div>
				</div>
            </div>
			<div class="ui center aligned basic segment container">
		    	<a href="https://play.google.com/store/apps/details?id=com.eowise.cityevolution">
					<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/fr_generic_rgb_wo_60.png" />
				</a>
		    </div>
		    <div id="overview" class="ui very padded basic secondary segment">
		    	<h2 class="ui header container">Overview</h2>
			    <div class="ui cards container">
			  		{% for feature in page.overview %}
	                <div class="ui centered card">
	                    <div class="content">
	                		<p class="header">{{ feature.title }}</p>
			        		<p class="description">{{ feature.text }}</p>
	                    </div>
	                </div>
			        {% endfor %}
			    </div>
		    </div>
		    <div id="quotes" class="ui very padded inverted basic green segment">
	            <h2 class="ui inverted header container">Quotes</h2>
			    <div class="ui equal width grid container">
			        {% for quote in page.quotes %}
			        <p class="text column">{{ quote }}</p>
			        {% endfor %}
			    </div>
			</div>
        </div>
        {% include footer.html %}
    </body>
</html>
