<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="index">
        <div id="root">
            {% include menu.html %}
            <div id="header">
                <div class="blurred">
                    <div class="jumbo">
                        <h1 class="heading">{{ page.heading }}</h1>
                        <p class="sub-heading">{{ page.sub_heading }}</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
		    <div class="ui grid container">
		        <div class="ten wide column">
		        	<h2 class="ui header">{{ page.name }}</h2>
		            {{ content }}
		        </div>
		        <div class="six wide middle aligned center aligned column">
		            <a href="https://play.google.com/store/apps/details?id=com.eowise.cityevolution">
		              <img alt="Get it on Google Play"
		                   src="https://developer.android.com/images/brand/fr_generic_rgb_wo_60.png" />
		            </a>
		        </div>
		    </div>
            <h3 class="ui header container">Overview</h3>
		    <div class="ui cards container">
		  		{% for feature in page.overview %}
                <div class="ui centered card">
                    <div class="content">
                		<p class="header">{{ feature.title }}</p>
		        		<p class="description">{{ feature.text }}</p>
                    </div>
                </div>
		        {% endfor %}
		    </div>
            <h3 class="ui header container">Quotes</h3>
		    <div class="ui equal width grid container">
		        {% for quote in page.quotes %}
		        <p class="text column">{{ quote }}</p>
		        {% endfor %}
		    </div>
        </div>
        {% include footer.html %}
    </body>
</html>
